.sidenav {
    max-width: 270px;
    width: 270px;
}

.user-info-toolbar {
    height: 100px;
}

.user-info {
    width: 100%;
}

.feedback-navbar-item {
    max-width: 270px;
    width: 270px;
    position: fixed;
    bottom: 0;
}

.content {
    margin: 24px;
    padding: 16px;
    height: calc(100vh - 144px);
}
