.login-wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: [sidebar-col] 33% [background-img-col] 66%;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url('src/assets/office_muenchen.jpg')
}

.login-sidebar {
  grid-column: sidebar-col / background-img-col;
  background-color: rgba(255, 255, 255, 0.98);
  display: grid;
  grid-template-rows: 33% [login-start] 33% [login-end] 33%;
}

.login {
  grid-row: login-start / login-end;
}
