<div>
    <mat-sidenav-container autosize>
        <mat-sidenav #sidenav class="sidenav" attr.role="navigation" fixedInViewport [mode]="sidenavMode" [opened]="sidenavOpened">
            <mat-toolbar class="toolbar">
                <userinfo class="userinfo"></userinfo>
            </mat-toolbar>
            <mat-divider></mat-divider>
            <mat-nav-list>
                <nav-item iconType="dashboard" routerLink="/dashboard">Dashboard</nav-item>
                <nav-item iconType="assessment" routerLink="/dashboard">Eigene Scorecards</nav-item>
                <nav-item iconType="power_settings_new" routerLink="/login">Abmelden</nav-item>
            </mat-nav-list>
            <mat-divider></mat-divider>
            <mat-nav-list class="feedback-navbar-item">
                <nav-item iconType="feedback" routerLink="/login">Feedback</nav-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <appbar [sidenav]="sidenav"></appbar>
            <!-- <router-outlet></router-outlet> -->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>